.regular {
    font-size: 16px;
    color: #004D40;
}

.regularsmall {
    font-family: 'lucida grande', sans-serif;
    font-size: 10px;
}

#bold {
    font-weight:500;
}

.regulartyc {
    font-family: 'lucida grande', sans-serif;
    font-size: 14px;
    color: black;
    margin-left:20px;
}

.titulos {
    color:#4DB6AC;
    font-size:35px;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    margin-left:4%;
}

.subtitulos {
    color:#003a30;
    font-size:22px;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    margin-left:1%;
}

.subtitulos2 {
    color:#173631;
    font-size:19px;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    margin-left:1%;
}

.subtitulos3 {
    color:#4DB6AC;
    font-size:17px;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    margin-left:1%;
}